* {
    border: 0;              /* Remove a borda padrão de todos os elementos */
    margin: 0;              /* Remove a margem padrão de todos os elementos */
    box-sizing: border-box; /* Inclui padding e bordas na largura e altura dos elementos */
}

body {
    display: flex;              /* Define o layout do corpo como flexbox */
    justify-content: center;    /* Centraliza o conteúdo horizontalmente */
    align-items: center;        /* Centraliza o conteúdo verticalmente */
    height: 100vh;              /* Define a altura do corpo como 100% da altura da viewport */
    width: 100%;                /* Define a largura do corpo como 100% da largura da viewport */
    background-color: pink;
}

.container {
    display: flex;              /* Define o layout do contêiner como flexbox */
    position: fixed;            /* Fixa o contêiner na posição da tela */
    flex-direction: row;     /* Organiza os itens do contêiner em uma coluna */
    width: 100%;                /* Define a largura do contêiner como 100% da largura da viewport */
    height: 100%;               /* Define a altura do contêiner como 100% da altura da viewport */
}

aside{
    display: flex;
    background-color: white;
    width: 20vw;
    height: 100%;
    flex-direction: column;
    padding: 2%;
    border: 1px solid gray;
}

.botoes {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}
aside a {
    background-color: #ffa837;
    color: black;
    padding: 3%;
    margin: 4%;
    height: 5vh;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}

.logo{
    width: 60%;
    height: 8%;
    background-image: url(../static/imgs/logo.png);
    background-size: cover;
    margin-left: 10%;
}


section{
    display: flex;
    flex-direction: column;
    /* background-color: #ffa837; */
    background-color: white;
    width: 80vw;
    height: 100vh;
    padding: 5%;
    align-items: center;
    overflow: auto;
}

.box_atividades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    padding: 5%;
}

.cad_alunos {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 30vh;
    width: 20vw;
    margin: 3%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    align-items: center;
    border: 1px solid orange;
}

#cadastrar {
    width: 30%;
    height: 30%;
    margin-top: 15%;
    border-radius: 100%;
}

#cadastrar img {
    width: 90%;
    height: 100%;
}

.titulo{
    background-color: #ffa837;
    color: black;
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 3%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


.cad_disciplinas {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 30vh;
    width: 20vw;
    margin: 3%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    align-items: center;
    border: 1px solid orange;
}
.cad_atividades {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 30vh;
    width: 20vw;
    margin: 3%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    align-items: center;
    border: 1px solid orange;
}

.frequencia {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 30vh;
    width: 20vw;
    margin: 3%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    align-items: center;
    border: 1px solid orange;
}

section h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin-bottom: 4%;
}

#form_cad {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50vw;
    height: 70vh;
    padding: 2%;
    border-radius: 2%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid orange;
}

#form_cad label {
    margin-left: 1%;
}

#form_cad input{
    height: 32px;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

#form_cad select{
    height: 35px;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

#enviar {
    height: 32px;
    width: 25%;
    padding: 1%;
    margin-left: 15%;
    margin-top: 3%;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
}

#form_cad_atividades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    height: 60vh;
    padding: 2%;
    border-radius: 2%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid orange;
}

#form_cad_atividades label {
    margin-left: 1%;
}

#form_cad_atividades input{
    height: 32px;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

#form_cad_atividades select{
    height: 35px;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

#filtro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60vw;
    height: 28vh;
    padding: 2%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(168, 168, 168);
}

#filtro label {
    margin-left: 1%;
}

#filtro input{
    height: 30px;
    width: 30%;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

#filtro select{
    height: 32px;
    width: 30%;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

#filtro_atvd {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60vw;
    height: 37vh;
    padding: 2%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(168, 168, 168);
}

#filtro_atvd label {
    margin-left: 1%;
}

#filtro_atvd input{
    height: 30px;
    width: 30%;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

#filtro_atvd select{
    height: 32px;
    width: 30%;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 97%;
    padding: 10px;
}

#box2 {
    margin: 1%;
    width: 45%;
    border: 1px solid black;
    padding: 10px;
}

#box2 a {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    padding: 3px;
    margin: 1%;
}

.box_button {
    display: flex;
    flex-direction: row;
    width: 90%;
   
    padding: 10px;
}

#button {
    background-color: orange;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

#form_frequencia {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 30vh;
    padding: 2%;
    border-radius: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid orange;
}

#form_frequencia label {
    margin-left: 1%;
}

#form_frequencia input{
    height: 32px;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

#form_frequencia select{
    height: 35px;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

#listar_frequencia {
    width: 50vw;
    padding: 2%;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 1px solid orange;
    border-radius: 10px;
}


#enviar_frequencia {
    height: 30px;
    width: 25%;
    padding: 1%;
    margin-top: 3%;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
}


#section_relatorio {
    margin:85px;
    width: 80%;
    height: 70%;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: #ffa837 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}

#div_relatorios {
    width: 40%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
}

#div_relatorios a {
    background-color: #ffa837;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color:black;
    border: black 1px solid;
    border-radius: 10px;

}