{% extends 'base.html' %}

{% block aside %}
    <br>
    <div class="botoes">
        <a href="{{url_for('index')}}">Inicio</a>
        <a href="{{url_for('alunos')}}">Alunos</a>
        <a href="">Atividades</a>
        <a href="">Disciplinas</a>
        <a href="">Frequência</a>
        <a href="">Relatórios</a>
    </div>
    
{% endblock %}

{% block section %}
    <h1>Página de alunos</h1>
    <hr>
    <a href="{{url_for('cadastro_alunos')}}">Cadastrar aluno</a>
    {% for alu in alunos %}
        <div style="border: 1px solid black; width: 25%; padding: 10px;">
            <h2>{{alu.alu_nome}}</h2>
            <label>Matricula: {{alu.alu_matricula}}</label><br>
            <label>Email: {{alu.alu_email}}</label><br>
            <label>Data de nascimento: {{alu.alu_data_nascimento}}</label><br>
            <label>Curso: {{alu.cur_nome}}</label><br>
            <a href="">Editar</a>|
            <a href="">Deletar</a>
        </div>
        <br>
    {% endfor %}
{% endblock %}
    
