{% extends 'base.html' %}

{% block aside %}
    <br>
    <div class="botoes">
        <a href="{{url_for('index')}}">Inicio</a>
        <a href="{{url_for('alunos')}}"style="background-color: black; color: white;">Alunos</a>
        <a href="{{url_for('atividades')}}">Atividades</a>
        <a href="{{url_for('disciplinas')}}">Disciplinas</a>
        <a href="{{url_for('frequencia')}}">Frequência</a>
        <a href="{{url_for('relatorios')}}">Relatórios</a>
    </div>
    
{% endblock %}

{% block section %}
    <h1>Página de alunos</h1>
    <hr>

    <h1>Filtrar</h1>
    <form id="filtro" action="{{url_for('filtrar_alunos')}}" method="post">
        <label>Nome:</label>
        <input type="text" name="nome" placeholder="Digite o nome do aluno(a)">
        <label>Matricula:</label>
        <input type="text" name="matricula" placeholder="Digite a matrícula do aluno(a)">
        <label>Email:</label>
        <input type="email" name="email" placeholder="Digite o email do aluno(a)">
        <label>Data de nascimento:</label>
        <input type="date" name="data">
        <label>Curso:</label>
        <select name="curso">
            <option value="" selected disabled>Selecione o curso do aluno</option>
            {% for curso in cursos %}
                <option value="{{curso.cur_id}}">{{curso.cur_nome}}</option>
            {% endfor %}
        </select>
        <input id="enviar" type="submit" value="Enviar">

    </form>
    <div class="box_button">
        <a id="button" href="{{url_for('cadastro_usuarios')}}">Cadastrar aluno</a>
    </div>
    
    <div class="box1">
        {% for alu in alunos %}
        <div id="box2">
            <h2>{{alu.usu_nome}}</h2>
            <label>Matricula: {{alu.alu_matricula}}</label><br>
            <label>Email: {{alu.usu_email}}</label><br>
            <label>Data de nascimento: {{alu.usu_data_nascimento}}</label><br>
            <label>Curso: {{alu.cur_nome}}</label><br><br>

            <a href="{{ url_for('editar_alunos', id=alu.alu_id) }}">Editar</a>
            <a href="{{ url_for('excluir_alunos', id=alu.alu_id) }}" onclick="return confirm('Tem certeza que deseja deletar este aluno?');">Deletar</a>
        
        </div>
        {% endfor %}
        <br>
    </div>
        

{% endblock %}
    
