{% extends 'base.html' %}

{% block section %}
    <h1>Página de atividades</h1>
    <hr>

    <h1>Filtrar</h1>

    <form id="filtro_atvd" action="{{url_for('filtrar_atividades')}}" method="post">
        <label>Titulo:</label>
        <input type="text" name="titulo" placeholder="Digite um titulo para a atividade">
        <label>Tipo:</label>
        <select name="tipo">
            <option value="" selected disabled>Selecione o tipo de atividade acadêmica</option>
            <option value="Prova">Prova</option>
            <option value="Trabalho">Trabalho</option>
            <option value="Projeto">Projeto</option>
        </select>
        <label>Descrição:</label>
        <input type="text" name="descricao" placeholder="Descreva a atividade">
        <label>Peso:</label>
        <input type="number" name="peso" placeholder="Peso da atividade">
        <label>Data de entrega:</label>
        <input type="date" name="data">
        <label>Disciplina:</label>
        <select name="disciplina" id="">
            <option value="" disabled selected>Selecione de qual disciplina é a atividade</option>
            {% for disc in disciplinas %}
                <option value="{{disc.dis_id}}">{{disc.dis_nome}}</option>
            {% endfor %}
        </select>
        <label>Bimestre:</label>
        <select name="bimestre" id="">
            <option value="" selected disabled>Selecione o bimestre</option>
            <option value="1">1º Bimestre</option>
            <option value="2">2º Bimestre</option>
            <option value="3">3º Bimestre</option>
            <option value="4">4º Bimestre</option>
        </select>
        <input id="enviar" type="submit" value="Enviar">
    </form>

    <div class="box_button">
        {% if current_user.type == 'Admin' %}
        <a id="button" href="{{url_for('cadastro_atividades')}}">Cadastrar atividade</a>
        {% endif %}
        <a id="button" href="{{url_for('cadastro_entregas')}}">Cadastrar entrega de atividade</a>
    </div>

    <div class="box1">
        {% for atv in atividades %}
            <div id="box2">
                <h2>{{atv.atv_titulo}}</h2>
                <label>Tipo: {{atv.atv_tipo}}</label><br>
                <label>Peso: {{atv.atv_peso}}</label><br>
                <label>Bimestre: {{atv.atv_bimestre}}</label>
                <label>Prazo de entrega: {{atv.atv_data}}</label><br>
                <label>Disciplina: {{atv.dis_nome}}</label><br>
                <label>Professor: {{atv.pro_nome}}</label><br>
                <label>Curso: {{atv.cur_nome}}</label><br>
                <label>Descrição: {{atv.atv_descricao}}</label>
                <br>
                <br>
                <a href="{{ url_for('editar_atividades', id=atv.atv_id) }}">Editar</a>
                <a href="{{ url_for('excluir_atividades', id=atv.atv_id) }}" onclick="return confirm('Tem certeza que deseja deletar esta atividade?');">Deletar</a>
            
            </div>
            <br>
        {% endfor %}
    </div>


{% endblock %}
