<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suaply</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <aside>
            <div class="logo"></div>
            
            {% block aside %}
                
            {% endblock %}
        </aside>
        <section>
            
            {% block section %}
                
            {% endblock %}
            
        </section>
    </div>


    <script>
        var flash = document.getElementById('flashMessage');
        if (flash) {
            // Define o estilo para exibir o flashMessage
            flash.style.display = 'block';
    
            // Espera 2 segundos
            setTimeout(function() {
                // Oculta o contêiner da resposta
                flash.style.display = 'none';
            }, 5000);
        }
    </script>
</body>
</html>