<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suaply</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <aside>
            <div class="logo"></div>
            
            {% if current_user.is_authenticated %}
                {% if current_user.type == 'Admin' %}
                    <br>
                    <div class="botoes">
                        <a href="{{url_for('alunos')}}">Alunos</a>
                        <a href="{{url_for('atividades')}}">Atividades</a>
                        <a href="{{url_for('disciplinas')}}">Disciplinas</a>
                        <!-- <a href="">Frequência</a> -->
                        <a href="{{url_for('relatorios')}}">Relatórios</a>
                        <a href="{{url_for('logout')}}">Logout</a>
                    </div>
                {% elif current_user.type == 'Professor' %}
                    <div class="botoes">
                        <a href="{{url_for('alunos')}}">Alunos</a>
                        <a href="{{url_for('atividades')}}">Atividades</a>
                        <a href="">Frequência</a>
                    </div>
                {% else %}
                    <div class="botoes">
                        <a href="{{url_for('atividades')}}">Atividades</a>
                        <a href="">Frequência</a>
                    </div>
                {% endif %}
            {% endif %}
        </aside>
        <section>
            
            {% block section %}
                
            {% endblock %}
            
        </section>
    </div>


    <script>
        var flash = document.getElementById('flashMessage');
        if (flash) {
            // Define o estilo para exibir o flashMessage
            flash.style.display = 'block';
    
            // Espera 2 segundos
            setTimeout(function() {
                // Oculta o contêiner da resposta
                flash.style.display = 'none';
            }, 5000);
        }
    </script>
</body>
</html>