{% extends 'base.html' %}

{% block section %}
    <h1>Cadastro de entrega de atividades</h1>
    <hr>
    <form id="form_cad" action="{{url_for('cadastro_entregas')}}" method="post">
        <label>Atividade:</label>
        <select name="atividade" id="">
            <option value="" selected disabled>Selecione a atividade</option>
            {% for ate in dados%}
            <option value="{{ate.atv_id}}">{{ate.atv_titulo}}</option>
            {% endfor %}
        </select>
        <label>Aluno:</label>
        <select name="aluno" id="">
            <option value="" selected disabled>Selecione o aluno</option>
            {% for alu in alunos %}
            <option value="{{alu.alu_id}}">{{alu.usu_nome}}</option>
            {% endfor %}
        </select>
        <label>Data de entrega:</label>
        <input type="date" name="data" id="">
        <label>Nota obtida:</label>
        <input type="number" name="nota" id="" placeholder="Nota obtida">
        <input id="enviar" type="submit" value="Enviar">
    </form>
{% endblock %}