{% extends 'base.html' %}

{% block aside %}
    <br>
    <div class="botoes">
        <a href="{{url_for('index')}}">Inicio</a>
        <a href="{{url_for('alunos')}}">Alunos</a>
        <a href="">Atividades</a>
        <a href="">Disciplinas</a>
        <a href="">Frequência</a>
        <a href="">Relatórios</a>
    </div>
{% endblock %}

{% block section %}
    <h1>Cadastro de atividades acadêmicas</h1>
    <hr>
    <form id="form_cadastro" action="{{url_for('cadastro_atividades')}}" method="post">
        <label>Titulo:</label>
        <input type="text" name="titulo" placeholder="Digite um titulo para a atividade">
        <label>Tipo:</label>
        <select name="tipo" required>
            <option value="" selected disabled>Selecione o tipo de atividade acadêmica</option>
            <option value="Prova">Prova</option>
            <option value="Trabalho">Trabalho</option>
            <option value="Projeto">Projeto</option>
        </select>
        <label>Descrição:</label>
        <input type="text" name="descricao" placeholder="Descreva a atividade">
        <label>Peso:</label>
        <input type="number" name="peso" placeholder="Peso da atividade" required>
        <label>Data de entrega:</label>
        <input type="date" name="data" required>
        <label>Disciplina:</label>
        <select name="disciplina" id="" required>
            <option value="" disabled selected>Selecione de qual disciplina é a atividade</option>
            {% for disc in disciplinas %}
                <option value="{{disc.dis_id}}">{{disc.dis_nome}}</option>
            {% endfor %}
        </select>
        <label>Bimestre:</label>
        <select name="bimestre" id="">
            <option value="" selected disabled>Selecione o bimestre</option>
            <option value="1">1º Bimestre</option>
            <option value="2">2º Bimestre</option>
            <option value="3">3º Bimestre</option>
            <option value="4">4º Bimestre</option>
        </select>
        <input id="enviar" type="submit" value="Enviar">
    </form>
{% endblock %}