{% extends 'base.html' %}

{% block aside %}
    <br>
    <div class="botoes">
        <a href="{{url_for('index')}}">Inicio</a>
        <a href="{{url_for('alunos')}}">Alunos</a>
        <a href="">Atividades</a>
        <a href="">Disciplinas</a>
        <a href="">Frequência</a>
        <a href="">Relatórios</a>
    </div>
{% endblock %}

{% block section %}
    <h1>Página de disciplinas</h1>
    <hr>
    <a href="{{url_for('cadastro_disciplinas')}}">Cadastrar disciplina</a>
    {% for dis in disciplinas %}
        <div style="border: 1px solid black; width: 25%; padding: 10px;">
            <h2>{{dis.dis_nome}}</h2>
            <label>Código: {{dis.dis_codigo}}</label><br>
            <label>Carga horária: {{dis.dis_carga_horaria}}</label><br>
            <label>Professor: {{dis.pro_nome}}</label><br>
            <label>Curso: {{dis.cur_nome}}</label><br>
            <a href="{{ url_for('editar_disciplinas', id=dis.dis_id) }}">Editar</a>
            <a href="{{ url_for('excluir_disciplinas', id=dis.dis_id) }}" onclick="return confirm('Tem certeza que deseja deletar esta disciplina?');">Deletar</a>
        </div>
        <br>
    {% endfor %}
{% endblock %}
