<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar alunos</title>
</head>
<body>
    <h1>Editar Informações</h1>
    <hr>
    {% with messages = get_flashed_messages() %}

    <form action="{{ url_for('editar_alunos', id=aluno.alu_id) }}" method="post">
        <label>Nome:</label>
        <input type="text" name="nome" placeholder="{{aluno.alu_nome}}" value="{{aluno.alu_nome}}">
        <label>Matricula:</label>
        <input type="text" name="matricula" placeholder="{{aluno.alu_matricula}}" value="{{aluno.alu_matricula}}">
        <label>Email:</label>
        <input type="email" name="email" placeholder="{{aluno.alu_email}}" value="{{aluno.alu_email}}">
        <label>Data de nascimento:</label>
        <input type="date" name="data" value="{{aluno.alu_data_nascimento}}">
        <label>Curso:</label>
        <select name="curso">
            <option value="{{aluno.cur_id}}" selected disabled>{{aluno.cur_nome}}</option>
            {% for curso in cursos %}
                <option value="{{curso.cur_id}}">{{curso.cur_nome}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Enviar">

        {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{message}}</p>
        {% endfor %}
        {% endif %}

    </form>
    {% endwith %}
    
</body>
</html>

    
