{% extends 'base.html' %}

{% block section %}
    <h1>Edição de disciplinas</h1>
    <hr>
    {% with messages = get_flashed_messages() %}

    <form id="form_cad" action="{{ url_for('editar_disciplinas', id=disciplina.dis_id) }}" method="post">

        <label>Código:</label>
        <input type="text" name="codigo" placeholder="{{disciplina.dis_codigo}}" value="{{disciplina.dis_codigo}}">
        <label>Nome:</label>
        <input type="text" name="nome" placeholder="{{disciplina.dis_nome}}" value="{{disciplina.dis_nome}}">
        
        <label>Curso:</label>
        <select name="curso">
            <option value="{{disciplina.cur_id}}" selected>{{disciplina.cur_nome}}</option>
            {% for curso in cursos %}
                <option value="{{curso.cur_id}}">{{curso.cur_nome}}</option>
            {% endfor %}
        </select>

        <label>Professor:</label>
        <select name="professor">
            <option value="{{disciplina.pro_id}}" selected>{{disciplina.pro_nome}}</option>
            {% for prof in professores %}
                <option value="{{prof.pro_id}}">{{prof.pro_nome}}</option>
            {% endfor %}
        </select>

        <label>Carga horária:</label>
        <input type="number" name="carga" id="" placeholder="{{disciplina.dis_carga_horaria}}" value="{{disciplina.dis_carga_horaria}}">
        <input id="enviar" type="submit" value="Enviar">

        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{message}}</p>
            {% endfor %}
        {% endif %}

    </form>
    {% endwith %}
{% endblock %}

