{% extends 'base.html' %}

{% block aside %}
    <br>
    <div class="botoes">
        <a href="{{url_for('alunos')}}">Alunos</a>
        <a href="{{url_for('atividades')}}">Atividades</a>
        <a href="{{url_for('cadastro_disciplinas')}}">Disciplinas</a>
        <a href="">Frequência</a>
    </div>
    
{% endblock %}

{% block section %}
    {% for aluno in media %}
        <div>
            <h2>{{ aluno.nome }}</h2>
            <!-- resto da lógica -->
        </div>
    {% endfor %}
{% endblock %}