{% extends 'base.html' %}


{% block section %}
    {% if current_user.is_authenticated %}
        {% if current_user.type == 'Admin' %}
            <div class="box_atividades">
                <div class="cad_alunos">
                    <div class="titulo">
                        <p>Cadastrar novo usuário</p>
                    </div>
                    <a id="cadastrar" href="{{url_for('cadastro_usuarios')}}"><img src="../static/imgs/alunos.png" alt=""></a>
                </div>
                <div class="cad_disciplinas">
                    <div class="titulo">
                        <p>Cadastrar disciplina</p>
                    </div>
                    <a id="cadastrar" href="{{url_for('cadastro_disciplinas')}}"><img src="../static/imgs/disciplina.png" alt=""></a>
                </div>
                <div class="cad_atividades">
                    <div class="titulo">
                        <p>Cadastrar atividade</p>
                    </div>
                    <a id="cadastrar" href="{{url_for('cadastro_atividades')}}"><img src="../static/imgs/atividades.png" alt=""></a>
                </div>
                
            </div>
        {% elif current_user.type == 'Professor' %}
            <div class="botoes">
                <a href="{{url_for('alunos')}}">Alunos</a>
                <a href="{{url_for('atividades')}}">Atividades</a>
                <a href="">Frequência</a>
                
            </div>
        {% else %}
            <div class="botoes">
                <a href="{{url_for('atividades')}}">Atividades</a>
                <a href="">Frequência</a>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}