<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_auth.css') }}">
</head>
<body>
    <section>
        <div class="login-container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for message in messages %}
                            <p class="error-message">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        
            <form action="{{ url_for('login') }}" method="post" class="login-form">
                <h2>LOGIN</h2>
                <label for="email">Email:</label>
                <input type="text" name="email" class="input-field" required> 
                
                <label for="senha">Senha:</label>
                <input type="password" name="senha" class="input-field" required>
                
            
        
                <input type="submit" value="Entrar" class="btn">
                
                <label for="link">Esqueceu a senha?</label><a href="{{url_for('editar_senha')}}">Alterar Senha</a>

            </form>
        </div>
    </section>
</body>
</html>
