{% extends "base.html" %}

{% block section %}
<!-- Importando o CSS correto -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_auth.css') }}">

<div class="register-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p class="error-message">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('register') }}" method="post" class="register-form">
        <h2>Cadastro</h2>

        <label for="nome">Nome:</label>
        <input type="text" name="nome" class="input-field" required>

        <label for="email">Email:</label>
        <input type="email" name="email" class="input-field" required> 
        
        <label for="senha">Senha:</label>
        <input type="password" name="senha" class="input-field" required>

        <label for="tipo">Tipo de Usuário:</label>
        <select name="tipo" class="input-field">
            <option value="Aluno">Aluno</option>
            <option value="Professor">Professor</option>
        </select>

        <input type="submit" value="Cadastrar" class="btn">
        
        <p>Já tem uma conta? <a href="{{ url_for('login') }}">Entrar</a></p>
    </form>
</div>
{% endblock %}
